.icon{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:50;
}


ion-title.inicial_title{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-justify: auto;
  }
  
  